@import url('https://fonts.googleapis.com/css2?family= Kaushan +Script & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Work+Sans:ital,wght@0,300;0,400;1,300;1,400 & display=swap');

body { 
    font-family: 'Work Sans', sans-serif; 
}

h1 {
    font-family: 'Kaushan Script', sans-serif;    
    font-size: 3em;   
}